body{
    color: #333333;
    font-family:"Lucida Sans Unicode","Lucida Grande", sans-serif;                   
}
h1 {
    font-family: serif;
    background-image:url(../img/sobre-background.jpg)
}
h2{
    border-bottom: 2px solid #ff0000;
}
p {
    font-family: monospace;
    line-height: 16px;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-indent: 30px;
}
